.button {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 5px 15px;
	border: 1px solid #b8b8b8;
	border-radius: 4px;
	background: -moz-linear-gradient(top, #ebebeb 0%, #cccccc 100%);
	background: -ms-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #ebebeb 0%,#cccccc 100%);
	-webkit-box-shadow: inset 0 1px 0px #FFF;
	box-shadow: inset 0 1px 0px #FFF;
	-webkit-text-shadow: 1px 1px 0px #FFF;
	text-shadow: 1px 1px 0px #FFF;
}
.button:hover {
	background: -moz-linear-gradient(top, #f2f2f2 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#dedede 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#dedede 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#dedede 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#dedede 100%);
}
.button:active {
	background: -moz-linear-gradient(top, #ebebeb 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #ebebeb 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #ebebeb 0%,#cccccc 100%);
}
.button:disabled {
	border: #575757;
}

input[type='text']{
	padding: 5px;
	color: #353535;
	border: 1px solid #d4d4d4;
}
input[type='text']:focus {
	outline: 0;
}

.panel {
	border: 1px solid #ababab;
}

	.panel > header {
		font-size: 16px;
		padding: 5px;
		color: #383838;
		background: -moz-linear-gradient(top, #f1f1f1 1%, #e1e1e1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f1f1f1), color-stop(100%,#e1e1e1));
		background: -webkit-linear-gradient(top, #f1f1f1 1%,#e1e1e1 100%);
		background: -o-linear-gradient(top, #f1f1f1 1%,#e1e1e1 100%);
		background: -ms-linear-gradient(top, #f1f1f1 1%,#e1e1e1 100%);
		background: linear-gradient(to bottom, #f1f1f1 1%,#e1e1e1 100%);
		border-bottom: 1px solid #ababab;
	}

	.panel > section {
		background: #fafafa;
		padding: 5px;
	}

.itemList {
	border: 0;
}

.itemList > tbody > tr > td:first-child {
	text-align: right;
	padding-right: 5px;
}