*.suo
*.user
*.config
*.map
*.sln.docstates
*.bat


XboxInternals.sln.ide
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual Studio Profiler
*.psess
*.vsp
*.vspx

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
